#Project 3: Semi-Structure Data Analytics and Visualization

Credit: Chanoknon Tangthienkul 6217412

In [11]:
import json
import pandas as pd

mongoexport --uri="mongodb+srv://jongning4242:jongning42@clusterbigdata.b9o57jb.mongodb.net/sample_supplies" --collection="sales" --out=supplies_sales.json --type=json --fields=saleDate,items.name,items.quantity,items.price,storeLocation,customer.gender

In [12]:
with open("supplies_sales.json", "r") as file:
    for line in file:
        try:
            json_obj = json.loads(line)
            data.append(json_obj)
        except json.JSONDecodeError as e:
            print(f"Error decoding line: {e}")

df = pd.DataFrame(data)

print(df.head())

                                    _id  \
0  {'$oid': '5bd761dcae323e45a93ccfec'}
1  {'$oid': '5bd761dcae323e45a93ccff9'}
2  {'$oid': '5bd761dcae323e45a93ccffd'}
3  {'$oid': '5bd761dcae323e45a93ccfff'}
4  {'$oid': '5bd761dcae323e45a93cd006'}

                                saleDate  \
0  {'$date': '2017-12-03T18:39:48.253Z'}
1  {'$date': '2017-11-12T20:30:15.045Z'}
2  {'$date': '2015-07-27T20:05:46.464Z'}
3  {'$date': '2016-10-04T07:04:44.122Z'}
4  {'$date': '2017-02-06T11:18:38.404Z'}

                                               items storeLocation  \
0  [{'name': 'backpack', 'tags': ['school', 'trav...        London
1  [{'name': 'notepad', 'tags': ['office', 'writi...        London
2  [{'name': 'printer paper', 'tags': ['office', ...        Denver
3  [{'name': 'binder', 'tags': ['school', 'genera...        London
4  [{'name': 'printer paper', 'tags': ['office', ...        Denver

                                            customer couponUsed purchaseMethod
0  {'gender': 'M', 'age': 40, 'email': 'dotzu@ib....      False       In store
1  {'gender': 'F', 'age': 50, 'email': 'velo@nuka...      False       In store
2  {'gender': 'F', 'age': 31, 'email': 'fimpig@an...      False       In store
3  {'gender': 'M', 'age': 58, 'email': 'jalpo@ha....      False       In store
4  {'gender': 'M', 'age': 60, 'email': 'du@il.ug'...      False       In store

In [86]:
df

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,{'$oid': '5bd761dcae323e45a93ccfec'},{'$date': '2017-12-03T18:39:48.253Z'},"[{'name': 'backpack', 'tags': ['school', 'trav...",London,"{'gender': 'M', 'age': 40, 'email': 'dotzu@ib....",False,In store
1,{'$oid': '5bd761dcae323e45a93ccff9'},{'$date': '2017-11-12T20:30:15.045Z'},"[{'name': 'notepad', 'tags': ['office', 'writi...",London,"{'gender': 'F', 'age': 50, 'email': 'velo@nuka...",False,In store
2,{'$oid': '5bd761dcae323e45a93ccffd'},{'$date': '2015-07-27T20:05:46.464Z'},"[{'name': 'printer paper', 'tags': ['office', ...",Denver,"{'gender': 'F', 'age': 31, 'email': 'fimpig@an...",False,In store
3,{'$oid': '5bd761dcae323e45a93ccfff'},{'$date': '2016-10-04T07:04:44.122Z'},"[{'name': 'binder', 'tags': ['school', 'genera...",London,"{'gender': 'M', 'age': 58, 'email': 'jalpo@ha....",False,In store
4,{'$oid': '5bd761dcae323e45a93cd006'},{'$date': '2017-02-06T11:18:38.404Z'},"[{'name': 'printer paper', 'tags': ['office', ...",Denver,"{'gender': 'M', 'age': 60, 'email': 'du@il.ug'...",False,In store
...,...,...,...,...,...,...,...
4998,{'$oid': '5bd761deae323e45a93ce364'},{'$date': '2017-01-31T20:26:49.273Z'},"[{'name': 'pens', 'tags': ['writing', 'office'...",Denver,"{'gender': 'F', 'age': 48, 'email': 'laah@lawe...",False,In store
4999,{'$oid': '5bd761deae323e45a93ce369'},{'$date': '2013-03-20T18:17:19.463Z'},"[{'name': 'backpack', 'tags': ['school', 'trav...",Denver,"{'gender': 'F', 'age': 45, 'email': 'fili@vu.s...",False,Online
5000,{'$oid': '651fe6034b7b936e38b8b502'},NaN,NaN,NaN,NaN,NaN,NaN
5001,{'$oid': '651fe69af0187af48609e6f6'},NaN,NaN,NaN,NaN,NaN,NaN
5002,{'$oid': '65295e1f4e3bf70c04c9f050'},NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
df.columns

Index(['_id', 'saleDate', 'items', 'storeLocation', 'customer', 'couponUsed',
       'purchaseMethod'],
      dtype='object')

In [88]:
df.dtypes

_id               object
saleDate          object
items             object
storeLocation     object
customer          object
couponUsed        object
purchaseMethod    object
dtype: object

In [78]:
#1Show top 10 products (name) sales (quantity x price).
flattened_items = []
for index, row in df.iterrows():
    items = row['items']
    if isinstance(items, list):
        for item in items:
            name = item['name']
            tags = item['tags']
            quantity = int(item.get("quantity", 0))
            price = item.get("price", {"$numberDecimal": "0"})
            price = float(price["$numberDecimal"])
            flattened_items.append({
                "name": name,
                "tags": tags,
                "quantity": quantity,
                "price": price
            })

new_df = pd.DataFrame(flattened_items)
new_df['sales'] = new_df['quantity'] * new_df['price']

top_products = new_df.groupby('name').sum().reset_index()
top_products = top_products.sort_values(by='sales', ascending=True)

print(top_10_products.head(10))

            name  quantity       price       sales
3         laptop      6793  2253177.21  6775977.07
0       backpack      6918   273404.86   817374.10
5           pens     13766   192567.63   581843.27
1         binder     25493    93648.21   511644.57
4        notepad     20727   154107.38   463615.48
2      envelopes     25078    67666.09   376658.49
6  printer paper     12092    67985.26   367459.29

In [89]:
new_df

,name,tags,quantity,price,sales
0,backpack,"[school, travel, kids]",3,127.59,382.77
1,notepad,"[office, writing, school]",4,17.60,70.40
2,binder,"[school, general, organization]",2,18.67,37.34
3,pens,"[writing, office, school, stationary]",3,60.56,181.68
4,notepad,"[office, writing, school]",1,28.41,28.41
...,...,...,...,...,...
27433,printer paper,"[office, stationary]",5,37.03,185.15
27434,backpack,"[school, travel, kids]",5,96.60,483.00
27435,binder,"[school, general, organization]",1,28.79,28.79
27436,backpack,"[school, travel, kids]",1,148.77,148.77
27437,printer paper,"[office, stationary]",3,42.74,128.22

In [93]:
#2 Show top 3 products (name) sales by store (location).
sales_by_store_and_product = new_df.groupby(['storeLocation', 'name'])['sales'].sum().reset_index()

sales_by_store_and_product = sales_by_store_and_product.sort_values(by=['storeLocation', 'sales'], ascending=[True, False])

top_3_products_by_store = {}

for store_location, group in sales_by_store_and_product.groupby('storeLocation'):
    top_3_products = group['name'].head(3).tolist()  # Get the top 3 product names for the store
    top_3_products_by_store[store_location] = top_3_products

for store_location, top_products in top_3_products_by_store.items():
    print(f"Store Location: {store_location}")
    print("Top 3 Products by Sales:")
    for i, product_name in enumerate(top_products, start=1):
        print(f"{i}. {product_name}")
    print()

Store Location: Austin
Top 3 Products by Sales:
1. laptop
2. backpack
3. pens

Store Location: Denver
Top 3 Products by Sales:
1. laptop
2. backpack
3. pens

Store Location: London
Top 3 Products by Sales:
1. laptop
2. backpack
3. pens

Store Location: New York
Top 3 Products by Sales:
1. laptop
2. backpack
3. pens

Store Location: San Diego
Top 3 Products by Sales:
1. laptop
2. backpack
3. pens

Store Location: Seattle
Top 3 Products by Sales:
1. laptop
2. backpack
3. pens

In [92]:
#3 Show rankings of each store (location).
flattened_items = []
for index, row in df.iterrows():
    items = row['items']
    
    # Check if 'items' is a list
    if isinstance(items, list):
        for item in items:
            price_dict = item.get('price', {'$numberDecimal': '0'})
            price_str = price_dict.get('$numberDecimal', '0')
            price = float(price_str)
            flattened_items.append({
                'name': item['name'],
                'tags': item['tags'],
                'quantity': int(item['quantity']),
                'price': price,
                'storeLocation': row['storeLocation']
            })

new_df = pd.DataFrame(flattened_items)

new_df['sales'] = new_df['quantity'] * new_df['price']

store_rankings = new_df.groupby('storeLocation')['sales'].sum().reset_index()

store_rankings = store_rankings.sort_values(by='sales', ascending=False)

store_rankings['Rank'] = range(1, len(store_rankings) + 1)

print(store_rankings)

  storeLocation       sales  Rank
1        Denver  2921009.92     1
5       Seattle  2255947.69     2
2        London  1583066.79     3
0        Austin  1445603.11     4
3      New York  1016059.59     5
4     San Diego   672885.17     6

In [99]:
#4Show purchased method by gender table

import pandas as pd

# Define a function to get the gender safely
def get_gender(customer):
    if isinstance(customer, dict):
        return customer.get('gender', 'Unknown')
    else:
        return 'Unknown'

# Apply the function to the 'customer' column
gender = df['customer'].apply(get_gender)

# Rest of your code remains the same
purchase_method = df['purchaseMethod']
combined_df = pd.DataFrame({'purchaseMethod': purchase_method, 'gender': gender})

purchase_method_by_gender = pd.crosstab(combined_df['gender'], combined_df['purchaseMethod'])

print(purchase_method_by_gender)

purchaseMethod  In store  Online  Phone
gender
F                   1430     813    284
M                   1389     772    312

In [101]:
new_df.columns

Index(['name', 'tags', 'quantity', 'price', 'storeLocation', 'sales'], dtype='object')

In [102]:
new_df.dtypes

name              object
tags              object
quantity           int64
price            float64
storeLocation     object
sales            float64
dtype: object

In [109]:
#5 Show monthly total sales

df['DateStr'] = df['saleDate'].apply(lambda x: x['$date'])

df['saleDate'] = pd.to_datetime(df['DateStr'], errors='coerce')

df['YearMonth'] = df['saleDate'].dt.strftime('%Y-%m')

monthly_total_sales = new_df.groupby(df['YearMonth'])['sales'].sum().reset_index()

print(monthly_total_sales)

   YearMonth     sales
0    2013-01  30375.10
1    2013-02  18804.24
2    2013-03  25749.48
3    2013-04  43724.57
4    2013-05  28554.84
5    2013-06  38579.48
6    2013-07  47898.52
7    2013-08  22398.22
8    2013-09  33495.42
9    2013-10  61139.01
10   2013-11  21372.28
11   2013-12  19569.52
12   2014-01  35455.70
13   2014-02  14515.99
14   2014-03  41716.02
15   2014-04  22440.49
16   2014-05  21551.04
17   2014-06  19137.89
18   2014-07  33363.63
19   2014-08  57894.07
20   2014-09  22767.81
21   2014-10  40137.58
22   2014-11  34250.72
23   2014-12  16767.20
24   2015-01  22422.69
25   2015-02  23744.00
26   2015-03  54296.23
27   2015-04  25829.39
28   2015-05  29583.82
29   2015-06  33318.48
30   2015-07  40888.21
31   2015-08  23955.58
32   2015-09  20863.63
33   2015-10  33466.24
34   2015-11  14688.98
35   2015-12  26476.92
36   2016-01  34955.17
37   2016-02  12918.60
38   2016-03  24459.78
39   2016-04  28991.84
40   2016-05  19098.98
41   2016-06  33522.99
42   2016-07  35589.33
43   2016-08  37575.39
44   2016-09  42277.80
45   2016-10  52405.23
46   2016-11  26609.21
47   2016-12  29503.43
48   2017-01  23914.10
49   2017-02  15872.00
50   2017-03  33010.18
51   2017-04  20937.67
52   2017-05  33845.44
53   2017-06  27036.12
54   2017-07  20769.27
55   2017-08  16795.57
56   2017-09  25365.65
57   2017-10  48694.70
58   2017-11  20890.37
59   2017-12  49297.15